mat-card,
mat-toolbar {

  border: 0.5px solid #000 !important;
  border-radius: 30px !important;
  padding: 10px;
}

.mat-card {
  margin-top: 50px;
  margin-bottom: 50px;
}


.mat-toolbar {
  justify-content: center;
  margin-bottom: 20px;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}


.alert {
  margin-top: 20px;
}

.main-div{
  width: 600px;
}