<button mat-button (click)="openDialog()" style="background: rgb(141, 237, 117); float: right;">
    <mat-icon>library_add</mat-icon> ADD
</button>

<button mat-button (click)="refreshList()" class="mr-3" style="background: rgb(237, 117, 117); float: right;">
    <mat-icon style="margin-bottom: 4px;">note_add</mat-icon> Refresh list
</button>

<button mat-button routerLink="analysis" class="mr-3" style="background: rgb(237, 117, 117); float: right;">
    <mat-icon style="margin-bottom: 4px;">note_add</mat-icon> Analysis
</button>


<div class="list row w-100 main-content">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search By title" [(ngModel)]="title">

            <div class="input-group-append">
                <button class="text ml-3" mat-button style="background: rgb(141, 237, 117)" (click)="searchTitle()">
                    Search
                </button>
                <button class="text ml-3" mat-button style="background: rgb(141, 237, 117)" (click)="searchByTitle()">
                    Title
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-7">
  <!-- *ngIf="!searchedProduct" -->
        <table *ngIf="!searchedProduct" class="table table-bordered table-hover product-table table-responsive-md">
            <caption>List of Product</caption>
            <thead  class="thead-light" >
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody *ngFor="let product of products; let i = index">
                <tr>
                    <th [class.active]='i == currentIndex' (click)="setActiveProduct(product,i)">{{product.id}}</th>
                    <td [class.active]='i == currentIndex' (click)="setActiveProduct(product,i)">{{product.title}}</td>
                    <td [class.active]='i == currentIndex' (click)="setActiveProduct(product,i)">{{product.description}}</td>
                    <td [class.active]='i == currentIndex' (click)="setActiveProduct(product,i)">{{product.cost}}</td>
                    <td [class.active]='i == currentIndex' (click)="setActiveProduct(product,i)">{{product.published}}</td>
                </tr>
            </tbody>
        </table>   

      


        <table *ngIf="!searchedProduct" class="table table-bordered table-hover product-table table-responsive-md">
            <caption>List of Product</caption>
            <thead  class="thead-light" >
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody *ngFor="let product of searchedProducts; let i = index">
                <tr>
                    <th [class.active]='i == currentIndex' (click)="setActiveProduct(product,i)">{{product.id}}</th>
                    <td [class.active]='i == currentIndex' (click)="setActiveProduct(product,i)">{{product.title}}</td>
                    <td [class.active]='i == currentIndex' (click)="setActiveProduct(product,i)">{{product.description}}</td>
                    <td [class.active]='i == currentIndex' (click)="setActiveProduct(product,i)">{{product.cost}}</td>
                    <td [class.active]='i == currentIndex' (click)="setActiveProduct(product,i)">{{product.published}}</td>
                </tr>
            </tbody>
        </table>


        <table class="table table-bordered table-hover product-table table-responsive-md">
            <caption>List of Categories</caption>
            <thead  class="thead-light" >
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody *ngFor="let cat of category; let i = index">
                <tr>
                    <th >{{cat.id}}</th>
                    <td >{{cat.title}}</td>
                    <td >{{cat.published}}</td>
                </tr>
            </tbody>
        </table>



        <button mat-button style="background: rgb(237, 117, 117)" class="text m-3" (click)="openDeleteDialog()">
            remove all
        </button>
    </div>





    <div class="col-md-5">
        <mat-card *ngIf="searchedProduct" class="product-card col-sm-12">
            <mat-card-title>{{searchedProduct.title}}</mat-card-title>
            <mat-card-subtitle class="text">{{searchedProduct.id}}</mat-card-subtitle>
            <mat-card-content>
                <p>Description: {{searchedProduct.description}}</p>
                <p> cost: {{searchedProduct.cost}}</p>
            </mat-card-content>
            <mat-card-actions>
                <a style="color: black;" routerLink="/{{ searchedProduct.id }}"><button mat-button style="background: rgb(141, 237, 117)" class="badge badge-warning m-2 mr-2">
                        edit
                    </button> </a>
                <!-- <button mat-button style="background: rgb(237, 117, 117)" class="badge badge-danger m-2 mr-2" (click)="deleteProduct()">
                    Delete
                </button> -->
    
    
            </mat-card-actions>
        </mat-card>

        <app-view-product [viewMode]="true" [currentProduct]="currentProduct"></app-view-product>
    </div>