.main-content{
    //width: 100%;
    margin: auto;
    //background: transparent;
    margin: 20px;
}

.text{
    color: black;
}

.product-table{
    width: 800px;
}

mat-card{
    background: rgb(190, 232, 248);
    color: black;
}